.pumpkin-collection {
    margin: 0 0 50px;
}

.pumpkin-collection__photos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pumpkin-collection__photo-item {
	cursor: pointer;
}